


.sun img {
	width: auto;
	height: 150px;
}

#HomeButton img {
	width: 8%;
	height: 8%;
	margin: 10px 20px 10px 20px;
}

#HomeButton p {
	margin-top: 20px;
	color: #8B572A;
	letter-spacing: 3px;
}

#HomeButton p.hover {
	text-decoration: none;
}

#HomeButton {
	border: 2px solid grey;
	border-radius: 10px;
	background-color: white;
}