body {
  margin: 0;
  font-family: 'Courier New', monospace;
  color: #8B572A;
  background-color: #aecdf2;
 }


h1 {
	letter-spacing: 5px;
	font-weight: 0;
	font-size: 300%;
}

@font-face {
	font-family: 'Roboto Mono', monospace;
	src: local("Roboto Mono"), url(./fonts/RobotoMono-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
