body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: brown;
  background-color: blue;
 }


@font-face {
	font-family: 'Roboto Mono', monospace;
	src: local("Roboto Mono"), url(./fonts/RobotoMono-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
